<?xml version="1.0" encoding="UTF-8"?>

<!-- 
Log4g 설정파일

이 파일을 통하여 애플리케이션 내에서 사용할 Log4J 로깅 설정을 수행할 수 있다.

Log4J의 메세지 체계
TRACE : 프로그램 내에서 발생하는 모든 사소한 작업에 대한 기록
DEBUG : 개발 단계에서 확인해야할 정보에 대한 기록
INFO : 사용자에게 알려줄 정보에 대한 기록
WARN : 실행은 되지만 문제가 생기거나 생길 소지가 있는 상황에 대한 기록
ERROR : 실행이 중단되거나 예외가 발생한 상황에 대한 기록
FATAL : 시스템 운영에 치명적인 오류에 대한 기록(임의 기록 불가)

메세지 출력 수준 설정
설정한 수준보다 중요한 메세지만 출력되도록 설정이 가능
ex : WARN 으로 설정한 경우 WARN과 그보다 중요한  ERROR,FATAL이 출력
개발단계에서는 Debug 배포단계에서는 INFO등으로 설정이 가능

사용가능 도구와 역할
-appender : 로깅을 수행할 대상을 설정하는 도구(콘솔,파일,이메일...)
logger : 
root : 
 -->
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="com.kh.spring12">
		<level value="info" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>	
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="info" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
